.contactList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  border: 1px solid black;
  width: 500px;
  padding: 16px;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 8px;
  gap: 5px;
}

.btn {
  width: 70px;
  cursor: pointer;
  margin-right: 5px;
}

.container {
  width: 1000;
  margin-top: 50px;
}
